[submodule "third_party/rapidcheck"]
	path = third_party/rapidcheck
	url = git@github.com:emil-e/rapidcheck.git
[submodule "third_party/csv-parser"]
	path = third_party/csv-parser
	url = git@github.com:vincentlaucsb/csv-parser.git
